.u-margin-remove {
    margin: 0;
}

.u-margin-remove-top {
    margin-top: 0;
}

.u-margin-remove-bottom {
    margin-bottom: 0;
}

.u-margin-top-half {
    margin-top: 0.5em;
}

.u-margin-top-1 {
    margin-top: 1em;
}

.u-margin-top-2 {
    margin-top: 2em;
}
.u-margin-top-3 {
    margin-top: 3em;
}

.u-margin-bottom-1 {
    margin-bottom: 1em;
}

.u-margin-bottom-2 {
    margin-bottom: 2em;
}

.u-margin-right-half {
    margin-right: 0.5em;
}

.u-margin-left-1 {
    margin-left: 1em;
}