.u-remove-padding {
    padding: 0;
}

.u-padding-1 {
    padding: 1em;
}

.u-padding-2 {
    padding: 2em;
}

.u-padding-left-1 {
    padding-left: 1em;
}

.u-padding-right-1 {
    padding-right: 1em;
}

.u-padding-top-1 {
    padding-top: 1em;
}

.u-padding-remove-left-right {
    padding-left: 0;
    padding-right: 0;
}

.u-padding-top-bottom-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
